@model List<GetUrlVM>;

@{
    ViewData["Title"] = "All short links";
}


<div class="container">
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Add New</a>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Original Link</th>
                <th scope="col">Shortened Link</th>
                <th scope="col">Clicks</th>
                <th scope="col">User</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var shrotUrl in Model)
            {
                <tr>
                    <td>@shrotUrl.Id</td>
                    <td>@shrotUrl.OriginalLink</td>
                    <td>@shrotUrl.ShortLink</td>
                    <td>@shrotUrl.NrOfClicks</td>
                    <td>@shrotUrl.UserId</td>
                    <td>
                        <!-- as query parameter
                        <a class="btn btn-outline-danger" asp-controller="Url" asp-action="Remove" asp-route-linkIdToRemove="@shrotUrl.Id"><i class="bi bi-trash3"></i></a>

                            <a class="btn btn-outline-danger" href="Url/Remove?linkIdToRemove=@shrotUrl.Id"><i class="bi bi-trash3"></i></a>
                        -->
                        <!-- as route data-->
                        <a class="btn btn-outline-danger" asp-controller="Url" asp-action="RemoveAsRouteData" 
                           asp-route-id="@shrotUrl.Id"><i class="bi bi-trash3"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>