@page "/Register"

<PageTitle>Register</PageTitle>
<h3>Register</h3>

<EditForm Model="user"
          OnValidSubmit="HandleReistration">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">
            Email
            <InputText class="form-control" id="email" @bind-Value="@user.Email"></InputText>
            <ValidationMessage For="@(() => user.Email)" />
        </label>
    </div>
    <div class="mb-3">
        <label for="password">
            Password
            <InputText class="form-control" id="password" @bind-Value="@user.Password" type="password"></InputText>
            <ValidationMessage For="@(() => user.Password)" />
        </label>
    </div>
    <div class="mb-3">
        <label for="ConfirmPassword">
            Confirm Password
            <InputText class="form-control" id="ConfirmPassword" @bind-Value="@user.ConfirmPassword" type="password"></InputText>
            <ValidationMessage For="@(() => user.ConfirmPassword)" />
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    
</EditForm>

@code {
    UserRegister user = new UserRegister();

    private void HandleReistration()
    {
        Console.WriteLine($"Register user with the email: {user.Email}");
    }
}
