@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world from Blazor Server App</h1>


<br />
<br />
<br />

<p> @FullName </p>
<input @bind-value="FullName" />

<p>Is Active: @Active</p>
<label>
    <input type="checkbox" @bind="Active" /> Active
</label>

<br />
<p>Radio value: @RadioValue</p>
<label>
    <input type="radio" value="1" name="RadioValue" @onclick="@(() => RadioValue = "1")" checked="@(RadioValue == "1")" />1
    <input type="radio" value="2" name="RadioValue" @onclick="@(() => RadioValue = "2")"  checked="@(RadioValue == "2")" />2
</label>

<p>Welcome to your new app.</p>

@code{

    string FullName = "Oscar Rondon";
    bool Active = true;
    string RadioValue = "";
}


<SurveyPrompt Title="How is Blazor working for you?" />
